<div class="container">
    <h2>Задание</h2>
    
    <p>Реализуйте на языке JavaScript простейший интерфейс для чтения RSS-каналов (в любой из версий форматов RSS или Atom, одной на выбор).</p>
	<p>При реализации можно использовать любые готовые компоненты. Обязательно укажите явно, какие готовые компоненты были использованы, их названия и официальные сайты.</p>
	<p>Страница приложения разделена на четыре части — список каналов (с редактированием), список сообщений в выбранном канале, просмотр выбранного сообщения, статистика.</p>
	<p>Число каналов.</p>
	<p>По выбранному каналу: число сообщений, число авторов.</p>
	<p>По выбранному сообщению: круговая диаграмма относительной частоты появления букв латинского алфавита в сообщении (после приведения в нижний регистр). (Каждая буква занимает долю площади круга, равную отношению числа таких букв к общему числу букв /не символов/ в сообщении.)</p>
	<hr>
	<h2>Используемые компоненты</h2>
	<ul>
		<li>
			<a href="https://angularjs.org/">AngularJS</a>
			<ul>
				<li>
					<a href="https://github.com/components/angular-resource">angular-resource</a>
				</li>
				<li>
					<a href="https://github.com/angular/bower-angular-route">angular-route</a>
				</li>
				<li>
					<a href="https://github.com/angular/bower-angular-animate">angular-animate</a>
				</li>
				<li>
					<a href="https://github.com/angular/bower-angular-sanitize">angular-sanitize</a>
				</li>
				<li>
					<a href="http://angular-route-segment.com/">angular-route-segment</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="http://getbootstrap.com/">Bootstrap</a>
		</li>
		<li>
			<a href="http://www.chartjs.org/">Chart.js</a>
		</li>
		<li>
			<a href="https://developers.google.com/feed/v1/reference#resultJson">Google Feed API</a>
		</li>
	</ul>
</div>